.ContainerCard {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-bottom: 20px !important;
    border-radius: 30px;
    margin: auto;
}
.ContainerCardimg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.ContainerCard::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.381); 
    pointer-events: none;
}
.ContainerCard:hover{
    width: 301px;
    height: 351px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.388),5px 5px 10px rgba(0, 0, 0, 0.388)
}
.row{
    --bs-gutter-x: 0;
}
.InfoCard{
    position:absolute;
    bottom: 0;
    width: 300px;
    color: rgb(254, 254, 254);
    padding: 10px;
}
.scroll-container{
    position: relative;
    top: 100px;
    display: flex;
}
